.search {
  height: 100%;
  width: 100%;
}

.search-form {
  border: 1px solid var(--theme-colors-gray);
  border-radius: var(--theme-border-radius);
  box-shadow: 0px 0px 3px 0px var(--theme-colors-gray);
  padding: 0.8em;
}

.search-label {
  display: block;
  font-size: 0.9em;
  font-weight: 600;
  padding: 0.5em 0;
}

.search-input {
  border: 1px solid var(--theme-colors-gray);
  border-radius: var(--theme-border-radius);
  display: block;
  padding: 0.6em 1em;
  width: 100%;
}

.search-input:focus {
  border: 2px solid var(--theme-border-color-focus);
  outline: none;
}
